.mapa-wrapper {
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f1f5f9;
  }
  
  .leaflet-container {
    width: 100% !important;
    height: 100% !important;
  }
  .mapa-wrapper {
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f1f5f9;
  }
  
  .leaflet-container {
    width: 100% !important;
    height: 100% !important;
  }
  